{% extends 'home/base.html' %}

{% block middle_card_body %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="mb-4">About Me ^^</h1>
                <p class="lead mb-4">Hello, I'm <strong>Mikkel</strong>, a seasoned software developer with more than 5 years of experience in the SaaS industry. I specialize in Python and Django, and have a proven track record of success with Docker, Linux, and related technologies.</p>
                <p class="lead mb-4">As a developer, I'm committed to building high-quality software that delivers value and solves real-world problems. I take pride in my work and strive to produce code that is both reliable and easy to understand.</p>
                <p class="lead mb-4">Over the years, I've had the opportunity to work on a variety of projects, from small startups to large enterprise applications. I bring this wealth of experience to every project I work on, and am always seeking out new challenges and opportunities to learn and grow.</p>
                <p class="lead mb-4">My passion for learning and innovation doesn't end with technology, however. I'm also a collaborative team player with excellent communication skills, and believe that open communication and teamwork are essential for creating successful software products. As a mentor, I enjoy sharing my experience and learning from others to create a positive and productive work environment.</p>
                <p class="lead ">If you're interested in learning more about me, my experience or discussing a potential job or project, please feel free to <a href="https://www.linkedin.com/in/mbkofoed/">get in touch</a>. I'd love to hear from you!</p>
            </div>
        </div>
    </div>

    <div class="container py-5">
        <h1>Career</h1>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://www.linkedin.com/company/entolabs">Ento Labs</a> (2022 - 2023)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Software Developer</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Built a full framework to integrate with third-party data providers.</li>
                            <li class="list-group-item">Modernized the backend of the platform using Python, Django, Docker, Linux, PostgreSQL, Redis, AWS, git, GitHub, HTML, CSS, and JavaScript.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://www.linkedin.com/company/netcompany-a-s/">Netcompany</a> (2022)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Senior IT Consultant</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Delivered high-quality web applications for private sector clients using .NET, C#, ASP.NET, and SQL Server.</li>
                            <li class="list-group-item">Responsible for coordinating deliverables in a small team alongside clients and third party stakeholders.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://www.linkedin.com/company/netcompany-a-s/">Netcompany</a> (2019 - 2022)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">IT Consultant</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Translated stakeholder requirements into technical specifications and delivered software that met client needs using .NET, C#, ASP.NET, and SQL Server.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://www.linkedin.com/company/plecto/">Plecto</a> (2017 - 2019)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Software Engineer</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Extended the library of integrations and maintained and improved existing code using Python, Django, Docker, Linux, PostgreSQL, Redis, AWS, git, GitHub, HTML, CSS, and JavaScript.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container py-5">
        <h1>Skills</h1>
        <p class="lead">
            I am highly skilled in Python, Django, and related technologies. I have extensive experience with Linux and Docker and have worked with a variety of other technologies, including JavaScript, HTML, CSS, SQL, and NoSQL databases. I have also worked with a number of cloud platforms, including AWS, Azure, and Google Cloud.
        </p>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Programming Languages</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fab fa-python fa-lg"></i> Python</li>
                            <li class="list-group-item"><i class="fas fa-file-code fa-lg"></i> C#</li>
                            <li class="list-group-item"><i class="fab fa-js-square fa-lg"></i> JavaScript</li>
                            <li class="list-group-item"><i class="fas fa-terminal fa-lg"></i> BASH</li>
                            <li class="list-group-item"><i class="fab fa-php fa-lg"></i> PHP</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Other Technologies</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fab fa-python fa-lg"></i> Django</li>
                            <li class="list-group-item"><i class="fab fa-docker fa-lg"></i> Docker</li>
                            <li class="list-group-item"><i class="fab fa-git-alt fa-lg"></i> git</li>
                            <li class="list-group-item"><i class="fas fa-database fa-lg"></i> SQL</li>
                            <li class="list-group-item"><i class="fab fa-linux fa-lg"></i> Linux</li>
                            <li class="list-group-item"><i class="fas fa-database fa-lg"></i> NoSQL</li>
                            <li class="list-group-item"><i class="fab fa-html5 fa-lg"></i> HTML</li>
                            <li class="list-group-item"><i class="fab fa-css3-alt fa-lg"></i> CSS</li>
                            <li class="list-group-item"><i class="fab fa-github fa-lg"></i> GitHub</li>
                            <li class="list-group-item"><i class="fas fa-file-code fa-lg"></i> ASP.NET</li>
                            <li class="list-group-item"><i class="fab fa-aws fa-lg"></i> AWS</li>
                            <li class="list-group-item"><i class="fab fa-microsoft fa-lg"></i> Azure</li>
                            <li class="list-group-item"><i class="fab fa-windows fa-lg"></i> Windows</li>
                            <li class="list-group-item"><i class="fab fa-apple fa-lg"></i> macOS</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock middle_card_body %}
