{% extends 'home/base.html' %}

{% block card_body %}
    <h1>About Me</h1>
    <p>Hello, I'm <strong>Mikkel</strong>, a seasoned software developer with more than 5 years of experience in the SaaS industry. I specialize in Python and Django, and have a proven track record of success with Docker, Linux, and related technologies.</p>
    <p>As a developer, I'm committed to building high-quality software that delivers value and solves real-world problems. I take pride in my work and strive to produce code that is both reliable and easy to understand.</p>
    <p>Over the years, I've had the opportunity to work on a variety of projects, from small startups to large enterprise applications. I bring this wealth of experience to every project I work on, and am always seeking out new challenges and opportunities to learn and grow.</p>
    <p>My passion for learning and innovation doesn't end with technology, however. I'm also a collaborative team player with excellent communication skills, and believe that open communication and teamwork are essential for creating successful software products. As a mentor, I enjoy sharing my experience and learning from others to create a positive and productive work environment.</p>
    <p>If you're interested in learning more about my experience or discussing a potential project, please feel free to <a href="https://www.linkedin.com/in/mbkofoed/">get in touch</a>. I'd love to hear from you!</p>
{% endblock card_body %}
