services:
  web:
    image: mkofoeddk/homepage-web:latest
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    expose:
      - 8000
    env_file:
      - .env
    environment:
      - DEBUG=0
      - DJANGO_SETTINGS_MODULE=config.settings.production
    volumes:
      - static_volume:/home/app/web/staticfiles
      - media_volume:/home/app/web/mediafiles
    depends_on:
      - db

  db:
    image: postgres:18
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      - POSTGRES_USER=${SQL_USER}
      - POSTGRES_PASSWORD=${SQL_PASSWORD}
      - POSTGRES_DB=${SQL_DATABASE}

  nginx:
    image: jonasal/nginx-certbot:latest
    restart: unless-stopped
    environment:
      - CERTBOT_EMAIL=mikkel@mkofoed.dev
      - STAGING=0
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx:/etc/nginx/user_conf.d:ro
      - letsencrypt_data:/etc/letsencrypt
      - static_volume:/home/app/web/staticfiles
      - media_volume:/home/app/web/mediafiles

volumes:
  postgres_data:
  static_volume:
  media_volume:
  letsencrypt_data:
