services:
  web:
    build: .
    command: sh -c "mkdir -p db && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
    env_file:
      - .env
